<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <%("./imports.ejs") %>
</head>
<body>

    <div class="top">
        <h1>Pokedex</h1>
        <a href="/pokemon/new"><button class="add">Add Pokemon</button></a>
    </div>

    <div class="bottom">
        <ul class="img_grid">
            <% for (let i=0; i<pokemon.length; i++) { %>
                <li>
                    <a href="/pokemon/<%= i %>"><img class="index_img" src="<%= pokemon[i].img %>" alt="Pokemon Image"/></a>
                </li>
            <% } %>
        </ul>
    </div>

</body>
</html>