<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
    <%("./imports.ejs") %>
</head>
<body>
    
    <div class="top">
        <h1>Pokemon Manager</h1>
        <h4><a href="/pokemon"><button class="home">Home</button></a></h4>
    </div>

    <div class="bottom">
        <h2>Create a Pokemon</h2>
        <form class="manager" class="new_form" action="/pokemon" method="post">
            <input type="text" name="name" placeholder="Pokemon name"/>
            <input class="create" type="submit" value="Create Pokemon" />
        </form>

    </div>

</body>
</html>